~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/.idea/*.*
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/out/*.*
../../.idea/workspace.xml
../../out/
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/.idea/*.*
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/out/*.*
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/geckodriver.exe
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/chromedriver.exe
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/KursSelenium.iml
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/target/*.*
*/.idea/*.*
*/out/*.*
*/target/*.*
*/*.iml
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursCucumber/target/*.*
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursCucumber/target/
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursCucumber/.idea/*.*
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursCucumber/.idea/
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursCucumber/out/*.*
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursCucumber/out/
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/.idea/workspace.xml
~/Pulpit/Tester_Automatyczny/03_Repos/CodersLab/KursSelenium/target/test-classes/FormTest.class
