*/.idea/*.*
*/out/*.*
*/target/*.*
*/*.iml

KursSelenium/target/*.*
KursSelenium/target/*
KursSelenium/.idea/*.*
KursSelenium/.idea/*
KursSelenium/out/*.*
KursSelenium/out/*

KursCucumber/target/*.*
KursCucumber/target/*
KursCucumber/.idea/*.*
KursCucumber/.idea/*
KursCucumber/out/*.*
KursCucumber/out/*

ZadaniaCucumber/target/*.*
ZadaniaCucumber/target/*
ZadaniaCucumber/.idea/*.*
ZadaniaCucumber/.idea/*
ZadaniaCucumber/out/*.*
ZadaniaCucumber/out/*